
  {% extends './base.html' %}
  {% block content %}

  <div class="content-wrapper">
    <section class="content-header">
        <h1>ファイル形式変換器</h1>
        <p>~PDF形式のファイルをExcel形式に変換~</p>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h4>PDF to Excel</h4>
                        <p>PDF→Excel変換</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-share"></i>
                    </div>
                    <a href="{% url 'pdfmr:upload' %}" class="small-box-footer">管理画面へ移動 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h4>Excel管理画面</h4>
                        <p>生成済みExcelファイルの管理</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                    <a href="{% url 'pdfmr:list' %}" class="small-box-footer">管理画面へ移動 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
        </div>
    </section>
  </div>
{% endblock content %}